html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1%;
  padding: 1%;
}


body{
  display: flex;
  flex-direction: column;
  
  border-radius: 20px;
}

.content{
  justify-content: center;


}
.content h1 {
  font-size: 3em;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
  }

.card{
  border-radius: 20px;
  padding:0%;
  margin:1%;
  align-items: center;
  

}

.card-header {
  background-color: rgb(132, 55, 196);
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;
  border-top-right-radius:20px;
  border-top-left-radius:20px;

}

.card-header-title {
  align-items: center;
  color:white;
  display: flex;
  font-size:2rem;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}